
*.ide-wal
*.ide-shm
*.ide
C's Of Production/.vs/C's Of Production/v15/.suo
C's Of Production/Temp/UnityLockfile
C's Of Production/Temp/UnityTempFile-f98beb9198f1af640a4bf360915abf95
C's Of Production/Temp/UnityTempFile-cbb2845e36a5cb64e9291a6f914bda33
C's Of Production/Temp/UnityTempFile-a6befe4b7e4d84248b714152163ae9a6
C's Of Production/Temp/UnityTempFile-a5075d921ae4e164fa317d3a23b16014
C's Of Production/Temp/UnityTempFile-3e3224a6dbb8757468fa8a8964d99867
C's Of Production/Temp/UnityTempFile-34d9ea0d8fb4165449de42e0aa940c7c
C's Of Production/Temp/ProcessJobs/e9a6970f79cd12d8b075e7d72f1b07cb.bakert
C's Of Production/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
C's Of Production/obj/Debug/build.force
C's Of Production/Library/shadercompiler-UnityShaderCompiler.exe0.log
C's Of Production/Library/EditorInstance.json
C's Of Production/.vs/C's Of Production/v15/.suo
C's Of Production/.vs/C's Of Production/v15/.suo
C's Of Production/Library/shadercompiler-UnityShaderCompiler.exe0.log
C's Of Production/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
